.player-wrapper {
    position: relative;
    padding-top: 49.55%;
  }
  .img-slider{
    width: 70%;
    margin-left: 13%;
  }

  .tipografia{
    letter-spacing: 0cm;
    text-transform: initial;
    font-family: 'Ranchers', cursive;
  }

  .texto-carrusel{
    display: flex;
    align-items: center;
    margin-left: 7%;
  }

.container-multimedia{
  display: flex;
  flex-direction: row;
}

.container-carrusel{
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}
  
  .react-player {
    position: absolute;
    top: 0;
    left: 0;
  }
  .primer-div{
    text-align: center;
    align-content: center;
    align-self: center;
  }

.texto-h2{
  font-family: 'Ranchers', cursive;
  text-transform: initial;
  letter-spacing: 0cm;
}





@media(max-width:739px){
  
}

  @media(max-width: 768px){
    .container-carrusel{
      display: inline-block;
    }
    .texto-carrusel{
      margin-top: 25px;
      justify-content: center;
      margin-left: 0;
    }
    .img-slider{
      width: 100%;
      margin-left: 0;
    }
  }


  @media (max-width: 949px) {
    .carrusel-img{
      margin-top: 0px;
    }
  }
