.contacto-container {
  display: flex;
  flex-direction: row;
  flex: 1;
  margin-left: 50px;
  margin-top: 50px;
  padding-left: 10px;
  justify-content: space-around;
}

.contacto-form {
  display: flex;
  flex: 1;
  margin-top: 40px;
  margin-bottom: 60px;
  padding-top: 50px;
  margin-left: 50px;
}

.contacto-image {
  display: flex;
  flex: 1;
  margin-right: 40px;
}

/* resolucion para dispositivos muy pequeños*/
@media (max-width: 575px) {
  .contacto-form {
    max-width: 80%;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
  }
  .contacto-container {
    flex-direction: column;
    display: inline-block;
  }
  .contacto-image {
    max-width: 100%;
    margin-right: 40px;
  }
}
/* resolucion para dispositivos pequeños*/
@media (max-width: 576px) {
  .contacto-form {
    max-width: 80%;
    display: flex;
  }
  .contacto-container {
    display: flex;
    flex-direction: column;
    display: inline-block;
  }
  .contacto-image {
    max-width: 100%;
  }
}
/* resolucion para tablets*/
@media (max-width: 768px) {
  .contacto-formr {
    max-width: 80%;
    display: flex;
  }
  .contacto-container {
    display: flex;
    flex-direction: column;
    display: inline-block;
  }
  .contacto-image {
    max-width: 100%;
  }
}
/* resolucion para pc de escritorio*/
@media (max-width: 992px) {
  .contacto-form {
    max-width: 80%;
    display: flex;
  }
  .contacto-container {
    display: flex;
    flex-direction: column;
  }
  .contacto-image {
    max-width: 100%;
  }
}
