.contacto-container {
  display: flex;
  flex-direction: row;
  flex: 1;
  margin-left: 40px;
  margin-top: 0px;
  padding-left: 10px;
  justify-content: space-around;
}

.contacto-form {
  display: flex;
  flex: 1;
  margin-top: 40px;
  margin-bottom: 60px;
  padding-top: 40px;
  margin-left: 110px;
}

.contacto-image {
  display: flex;
  flex: 1;
  margin-right: 90px;
}


@media(max-width: 380px){
  .contacto-container{
    margin-right: 10px;
  }
}



/* resolucion para dispositivos pequeños*/
@media (max-width: 576px) {
  .contacto-form {
    max-width: 80%;
    display: flex;
    margin-right: 10px;
  }
}

@media (max-width: 678px) {
  .contacto-container {
    margin-left: 10px!important;
  }
}
/* resolucion para tablets*/
@media (max-width: 768px) {
  .contacto-form {
    max-width: 80%;
    display: flex;
    padding-top: 5px;
  }
  .contacto-container {
    display: flex;
    flex-direction: column;
  }
  .contacto-image{
    display: none!important;
  }
}
/* resolucion para pc de escritorio*/
@media (max-width: 970px) {
  .contacto-form {
    max-width: 100%;
    display: flex;
    margin-bottom: 50px!important;
  }
  .contacto-container {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
  }
  .contacto-image {
    display: flex;
    max-width: 90%!important;
  }
}


@media(max-width: 1290px){
  .contacto-image{
    max-width: 100%;
    margin-right: 0;
    padding-right: 0;
  }
  .contacto-form {
    max-width: 80%;
    margin-left: 2% !important;
    margin-top: 6%;
  }
  .contacto-container{
    margin-left: 30px;
    padding-left: 0px;
  }
}


@media(max-width: 1644px){
  .contacto-form {
    margin-left: 8% !important;
    margin-top: 6%;
  }
  .contacto-container {
    margin-left: 100px; 
  }
  .contacto-image{
    margin-right: 40px;
  }
}

@media (max-width:2170px){
  .contacto-form {
    max-width: 100%;
    margin-left: 17%;
    margin-top: 7%;
    margin-bottom: 20%;
  }
  .contacto-form form{
    height: 100%;
  }
  .contacto-container {
    margin-left: 50px; 
  }
  .contacto-image img{
    max-height: 90%;
  }
}
