.contenedor{
    height: 250px;
    width: 250px;
    overflow: hidden;
    margin: 110px 50px ;
}

:root{
    --border-fondo1: 20px solid rgb(34, 231, 34, .3);
    --border-fondo2: 20px solid rgba(206, 11, 11, 0.3);
    --border-fondo3: 20px solid rgba(6, 22, 168, 0.3);
    --border1: 20px solid rgb(10, 214, 10);
    --border2: 20px solid rgb(204, 10, 4);
    --border3: 20px solid rgb(5, 21, 170);
}

.progreso{
    margin: 130px auto;
    border-radius: 80%;
    height: 200px;
    width: 200px;
    /*border-left: var(--border3);
    border-right: var(--border3);
    border-top: var(--border3);
    border-bottom: 25px solid transparent;*/
    position: relative;
    color: #fff;
    text-align: center;
    margin-left: 50px;
}

.contenedor .pro1{
    border:var(--border-fondo1);
    color: rgb(10, 214, 10);

}
.contenedor .pro2{
    border:var(--border-fondo2);
    color:rgb(204, 10, 4);

}
.contenedor .pro3{
    border:var(--border-fondo3);
    color: rgb(5, 21, 170);;
}

.progreso h2{
    font-family: sans-serif;
    margin-top: 18px;
}

.progreso .circle{
    border-radius: 100%;
    height: 100%;
    width: 100%;
    position: relative;
    top: -20px;
    left: -20px;
    transform: rotate(-135deg);

}
.circle1{
    border-top: var(--border1);
    border-left: var(--border1);
    border-right: 20px solid transparent;
    border-bottom: 20px solid transparent;
    animation: rotar1 1s linear forwards;
    animation-delay: 1s;
}
.circle2{
    border-top: var(--border2);
    border-left: var(--border2);
    border-right: 20px solid transparent;
    border-bottom: 20px solid transparent;
    animation: rotar2 1s linear forwards;
    animation-delay: 2s;
}
.circle3{
    border-top: var(--border3);
    border-left: var(--border3);
    border-right: 20px solid transparent;
    border-bottom: 20px solid transparent;
    animation: rotar3 1s linear forwards;
    animation-delay: 3s;
}

@keyframes rotar1{
    100%{
        transform: rotate(-25deg);
    }
}
@keyframes rotar2{
    100%{
        transform: rotate(-85deg);
    }
}
@keyframes rotar3{
    100%{
        transform: rotate(25deg);
    }
}