.article-container{
    display: flex;
    background-color: #e4e4e4;
    padding-top: 50px;
    padding-bottom: 60px;
}
.gris{

}

/* resolucion para dispositivos muy pequeños*/
@media(max-width: 575px){
    .article-container{
        max-width: 100%;
        display: flex;
        flex-direction: column;   
    }
    .img-ayudar{
        max-width: 80%;
    }
}
/* resolucion para dispositivos pequeños*/
@media(max-width: 576px){
    .article-container{
        max-width: 100%;
        display: flex;
        flex-direction: column;   
    }
    .img-ayudar{
        max-width: 80%;
    }
}
/* resolucion para tablets*/
@media(max-width: 768px){
    .article-container{
        max-width: 100%;
        display: flex;
        flex-direction: column;   
    }
    .img-ayudar{
        max-width: 80%;
    }
}
/* resolucion para pc de escritorio*/
@media(max-width: 992px){
    .article-container{
        max-width: 100%;
        display: flex;
        flex-direction: column;   
    }
    .gris{
        display: flex;
        justify-content: space-around;
    }
}