.contador {
    width: 24.7%;
    text-align: center;
    display: inline-block;
    align-items: baseline;
    padding: 0px 0px;
  }
  
  .alinear{
    display: flex;
    align-items: baseline;
  }
  .back{
    background-color: #b1d800;
  }
  
  .quantity_counter {
    font-size: 40px;
    margin: 10px 0;
    font-weight: 100;
    -webkit-text-stroke-width:thin;
    color: ivory;
  }
  
  @keyframes aparecer {
    0% {
      opacity: 0;
      transform: translateY(100px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .ocultar {
    opacity: 0;
  }
  
  .animar {
    animation: aparecer 2s;
  }
  
  .texto-cliente{
      text-transform: initial;
      letter-spacing: 0;
      color: white;
      text-align:center;
  }

  .porcentaje1{
    font-size: 1cm;
    
  }




  @media (max-width: 575){
    .alinear{
      flex-direction: column;
    }
  }
  
  @media (max-width: 576px) {
    .alinear{
      flex-direction: column;
    }
    }
    
    @media (max-width: 768px) {
        .alinear{
            flex-direction: column;
          }
          .contador_cantidad{
            margin-top: 15px;
            margin-bottom: 15px;
          }
    }
    
    @media (max-width: 992px) {
  
    }