.container-section{
    background-color: #333;
    display: flex;
    justify-content: center;

}

.contenedor{
    height: 245px;
    width: 245px;
    margin: 110px 30px;
    overflow: hidden;
}

:root{
    --border-fondo1: 20px solid rgb(34, 231, 34, .3);
    --border-fondo2: 20px solid rgba(206, 11, 11, 0.3);
    --border-fondo3: 20px solid rgba(6, 22, 168, 0.3);
    --border1: 20px solid rgb(10, 214, 10);
    --border2: 20px solid rgb(204, 10, 4);
    --border3: 20px solid rgb(5, 21, 170);
}

.contenedor .progreso{
    margin: 130px auto;
    border-radius: 50%;
    height: 240px;
    width: 240px;
border-left: var(--border3);
    border-right: var(--border3);
    border-top: var(--border3);
    border-bottom: 25px solid transparent;
    position: relative;
    color: #fff;
    text-align: center;
}

.contenedor .pro-1{
    border:var(--border-fondo1);
    color: rgb(10, 214, 10);

}
.contenedor .pro-2{
    border:var(--border-fondo2);
    color:rgb(204, 10, 4);

}
.contenedor .pro-3{
    border:var(--border-fondo3);
    color: rgb(5, 21, 170);;
}

.progreso h2{
    font-family: sans-serif;
    margin-bottom: -4px;
}
.progreso h2,h3{
    margin-top: 30px ;
    color: #fff;
}


.progreso .circle{
    border-radius: 50%;
    height: 240px;
    width: 240px;
    position: absolute;
    top: -22px;
    left: -17px;
    transform: rotate(-125deg);
}
.circle1{
    border-top: var(--border1);
    border-left: var(--border1);
    border-right: 20px solid transparent;
    border-bottom: 20px solid transparent;
    animation: rotar1 1s linear forwards;
    animation-delay: 1s;
    height: 240px!important;
    left: -21px!important;
    top: -21px!important;
}
.circle2{
    border-top: var(--border2);
    border-left: var(--border2);
    border-right: 20px solid transparent;
    border-bottom: 20px solid transparent;
    animation: rotar2 1s linear forwards;
    animation-delay: 2s;
}
.circle3{
    border-top: var(--border3);
    border-left: var(--border3);
    border-right: 20px solid transparent;
    border-bottom: 20px solid transparent;
    animation: rotar3 1s linear forwards;
    animation-delay: 3s;
    left: -20px!important;
}

@keyframes rotar1{
    100%{
        transform: rotate(-25deg);
    }
}
@keyframes rotar2{
    100%{
        transform: rotate(-85deg);
    }
}
@keyframes rotar3{
    100%{
        transform: rotate(25deg);
    }
}