.gris {
  background-color: rgba(0, 0, 0, 0.199);
}
.botonEnviarMail:disabled {
  opacity: 0.5;
  background-color: black;
}

.item{
  margin: 0.6em;
  padding: 0.3em;
  float: left;
}

footer{
  margin-top: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.boton-footer{
  margin-top: 70px;
  max-width: 300px;
}

.logo-footer{
  margin-right: 13%;
  margin-left: 3%;
}

.img-header{
  max-width: 100%;
}

.redesHeader{
  display: flex;  
}

.header-no{
  display: flex;
}

.red-footer{
  max-width: 300px;
}

.navbar-chico{
  padding-top: -10px;
  padding-bottom: -5px;
}

.seguinos-footer{
  margin-left: 90px;
  padding-left: 6px;
}

.parrafo-seguinos{
  font-size: 18px;
  margin-left: 12px;
}

.icono-footer{
  max-width: 40px;
  margin-left: 50px;
}
.icono-header{
  max-width: 40px;
}

.header-div{
  display: flex;
}

.redes-container ul li {
  display: inline-block;
  margin: 0 4px;
  width: 40px;
  height: 40px;
  text-align: center;
}

.redes-container ul li a {
  display: inline-block;
  margin-top: 6px;
  line-height: 40px;
  font-size: 18px;
}

.margen-header{
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

@media(max-width: 305px){
  .parrafo-seguinos{
    font-size: 14px;
  }
  .icono-footer{
    max-width: 30px;
  }
  .seguinos-footer{
    margin-left: 20px;
  }

}

@media(max-width: 335px){
  .header-no{
    display: none;
  }
}

@media(max-width: 360px){
  .boton-footer{
    max-width: 90%;
    margin-left: 12px;
    margin-top: 40px;
  }
  .red-footer{
    max-width: 100%;
    font-size: 2px;
  }
}
@media(max-width: 408px){
  .img-header{
    width: 95%;
  }
}



@media(max-width: 485px){
  .redes-container ul li{
    width: 38px;
  }
}

/* resolucion para dispositivos muy pequeños*/
@media(max-width: 575px){
  .parrafo-seguinos{
    font-size: 16px;
  }
  .icono-footer{
    max-width: 35px;
  }
  .MDBNavbar{
    nav-down: auto;
  }
}

/* resolucion para dispositivos pequeños*/
@media(max-width: 576px){

  .boton-footer{
    margin-top: 50px;
  }
  .redes-container ul li{
    margin: 0 2px;
  }
}
/* resolucion para tablets*/
@media(max-width: 768px){

  .redes-container ul li{
    margin: 0 2px;
    margin-right: auto;
  }
}