.gris {
  background-color: rgba(0, 0, 0, 0.199);
}
.botonEnviarMail:disabled {
  opacity: 0.5;
  background-color: black;
}

.item{
  margin: 0.6em;
  padding: 0.3em;
  float: left;
}

.articlesCard{
  display: flex;
  flex-direction: row;
}

footer{
  margin-top: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.boton-footer{
  margin-top: 70px;
}

.logo-footer{
  margin-right: 13%;
  margin-left: 3%;
}

.img-header{
  display: flex;
  margin-left: 6%;
}

/* resolucion para dispositivos muy pequeños*/
@media(max-width: 575px){
  .img-header{
    max-width: 10%;
    padding-left: 0cm;
  }
}

/* resolucion para dispositivos pequeños*/
@media(max-width: 576px){
  .img-header{
    max-width: 10%;
  }

}
/* resolucion para tablets*/
@media(max-width: 768px){
  .img-header{
    max-width: 20%;
  }
}
/* resolucion para pc de escritorio*/
@media(max-width: 992px){
}