.gris {
  background-color: rgba(0, 0, 0, 0.199);
}
.botonEnviarMail:disabled {
  opacity: 0.5;
  background-color: black;
}

.item{
  margin: 0.6em;
  padding: 0.3em;
  float: left;
}

.articlesCard{
  display: flex;
  flex-direction: row;
}

footer{
  margin-top: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.boton-footer{
  margin-top: 70px;
}

.logo-footer{
  margin-right: 13%;
  margin-left: 3%;
}

.img-header{
  display: flex;
  margin-left: 6%;
}

.slide-in{
  animation: slideMe .5s ease-in;
}

@keyframes slideMe{
  0%{
transform: skewX(53deg) translateX(-500px);
opacity: 0;
  }
  60%{
    transform: translateX(0px);
  }
  62%{
    transform: skewX(0deg) translateX(30px);
  }
  70%{
    transform: skew(-20deg);
    opacity: 1;
  }
  80%{
    transform: skew(0deg) translate(0);
  }
  90%{
    transform: skew(-5deg);
  }
100%{
  transform: skew(0deg)
}

}





/* resolucion para dispositivos muy pequeños*/
@media(max-width: 575px){
  .img-header{
    max-width: 10%;
    padding-top: 0em;
    padding-bottom: 0em;
  }
}

/* resolucion para dispositivos pequeños*/
@media(max-width: 576px){
  .img-header{
    max-width: 10%;
    padding-top: 0em;
    padding-bottom: 0em;
  }

}
/* resolucion para tablets*/
@media(max-width: 768px){
  .img-header{
    max-width: 10%;
    padding-top: 0em;
    padding-bottom: 0em;
  }
}
/* resolucion para pc de escritorio*/
@media(max-width: 992px){
}